@use "./mixins" as *;

.text-white {
    color: var(--white);
}

.text-gray {
    color: var(--gray);
}

.text-dark {
    color: var(--dark);
}

.text-Body {
    color: var(--BodyBg);
}

.bg-white {
    background-color: var(--white);
}
.bg-Body {
    background-color: var(--BodyBg);
}

.bg-second {
    background-color: var(--secondColor);
}

.bg-main {
    background-color: var(--mainColor);
}

.bg-input {
    background-color: var(--inputBG);
}

.bg-dark {
    background-color: var(--dark);
}
// font

// z-index
.z-999 {
    z-index: 999;
}

.z-9999 {
    z-index: 9999;
}

.border-1 {
    border: 1px solid var(--mainColor);
}

.border-2 {
    border: 2px solid var(--dark);
}

.round-s {
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
}

.round-e {
    border-end-end-radius: .95rem;
    border-end-start-radius: .95rem
}

.gridRow {
    grid-template-rows: 1fr 80px;
}

// 
.cardTitle {
    @include res('font-size', 22px, 32px);
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 20px;
    line-height: 1.2;
}

.cardP {
    @include res('font-size', 16px, 20px);
    font-weight: 600;
    line-height: 1.2;
}

// 
.iframeVideo{

    aspect-ratio: 16/9;
    
}
.content ,.iframeVideo,.w-900{
    @include res('width', 400px, 900px);
    
}
.fs-res-96{
    @include res('font-size', 48px, 96px);

}
.fs-res-70{
    @include res('font-size', 36px, 70px);
}
.fs-res-60{
    @include res('font-size', 28px, 60px);
}
.fs-res-36{
    @include res('font-size', 18px, 30px);
    &.line-40{
        line-height: 40px
    }
}
// 
.tag {
    @include res('font-size', 24px, 36px);
    color: var(--dark);
    background-color: var(--BodyBg);
    font-weight: 700;
    padding: 24px 48px;
    border-radius: 999px;
    display: inline-block;
    // border: 2px solid var(--dark);
    box-shadow: 3px 9px 0 #0b0b0b, 15px 15px 20px rgba(64, 164, 122, 0.2);
    line-height: 1;

    &.mainHeading {
        @include res('font-size', 18px, 28px);
        background-color: var(--mainColor);
        color: var(--white);
        box-shadow: none;
        padding: 12px 24px;
        margin-bottom: 20px;

        &.reverse {
            background-color: var(--mainColor);
        }

    }
}
.icon-200{
    width: 200px;
}


// 
.aboutShape {
    @include shapeImg('BGDown-BG', true, bottom, -120px);
}

.cateShape {
    @include shapeImg('BGDown-blue', true, top, 0);
}

.helpShape {
    @include shapeImg('BGDown-BG', true, top, 0);
}

.faqShape {
    @include shapeImg('BGDown-w', true, top, 0);
}

.boyImg {
    position: absolute;
    bottom: 0;
    right: -60px;

    @media(max-width:991px) {
        left: -60px;
        right: auto;
    }

    @media(max-width:767px) {
        display: none;
    }
}
.girlImg{
    position: absolute;
    top: 0;
    left: -60px;
}