$mainColor: rgba($color: #004b8d, $alpha: 1.0); ;
$mainColor20: rgba($color: #004b8d, $alpha: 20%); 
$mainColor08: rgba($color: #004b8d, $alpha: 8%); 
$secondColor: rgba($color: #ffcc00, $alpha: 1.0); ;
$secondColor20: rgba($color: #ffcc00, $alpha: 20%); 
$secondColor08: rgba($color: #ffcc00, $alpha: 8%); 
$gray:rgba($color: #1a1a1a, $alpha: 60%); 
$grayLight:rgba($color: #1a1a1a, $alpha: 45%); 
$inputHint:rgba($color: #1a1a1a, $alpha: 35%); 
$inputStroke:rgba($color: #1a1a1a, $alpha: 5%); 
$inputBG:rgba($color: #1a1a1a, $alpha: 3%); 
:root {
    --mainColor: #{$mainColor};
    --mainColor20: #{$mainColor20};
    --mainColor08: #{$mainColor08}; 
    --secondColor: #{$secondColor};
    --secondColor20: #{$secondColor20};
    --secondColor08: #{$secondColor08};
    --white:#F8F9FA;
    --dark:#1a1a1a;
    --BodyBg:#f1f4f7;

    --gray:#{$gray}; 
    --grayLight:#{$grayLight};
    --inputHint:#{$inputHint};
    --inputStroke:#{$inputStroke};
    --inputBG:#{$inputBG};
    --bottom-gra:linear-gradient(180deg,rgba(4, 21, 45, 0) 0%,#fcfbfb 95.17%);
    --bottom-gra2:linear-gradient(180deg,rgba(4, 21, 45, 0) 0%,#201F1D 95.17%);
    --t-l: 500ms ease-in-out;
    --t-s: 250ms ease-in-out;
}