@font-face {
    font-family: 'GraphikArabic';
    src: url('../assets/fonts/GraphikArabic-Regular.woff2');
    font-style: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'GraphikArabic';
    src: url('../assets/fonts/GraphikArabic-Semibold.woff2');
    font-style: swap;
    font-weight: 600;
}
@font-face {
    font-family: 'GraphikArabic';
    src: url('../assets/fonts/GraphikArabic-Bold.woff2');
    font-style: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'GraphikArabic';
    src: url('../assets/fonts/GraphikArabic-Black.woff2');
    font-style: swap;
    font-weight: 900;
}

