@font-face {
    font-family: 'GraphikArabic';
    src: url('../assets/fonts/ArbFONTS-Cairo-Regular-1.woff2');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'GraphikArabic';
    src: url('../assets/fonts/Cairo-Bold.woff2');
    font-display: swap;
    font-weight: 700;
}

