@use "./helpers/mixins" as *;

button {
    border: 2px solid var(--dark);
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 999px;

    &:has(svg) {
        width: 40px;
        height: 40px;
        box-shadow: none;
        border: 0;
    }

    &.primary {
        background-color: var(--mainColor);

        :is(a, span, svg) {
            color: var(--white);
        }
    }

    &.secondary {
        background-color: var(--BodyBg);

        :is(a, span, svg) {
            color: var(--dark);
        }
    }

    &.primary,
    &.secondary {
        &:hover {
            transform: translate(-3px, -9px);
            box-shadow: 3px 9px 0 #0b0b0b, 15px 15px 20px rgba(64, 164, 122, 0.2);
        }
    }
}

// link button 
a {
    &:has(svg) {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &.secondary {
        background-color: var(--BodyBg);
        color: var(--dark);

        :is(svg) {
            color: var(--dark);
        }
    }

    &.primary {
        background-color: var(--secondColor);
        color: var(--dark);

        :is(svg) {
            color: var(--white);
        }
    }

    &.secondary,
    &.primary {
        @include res('font-size', 16px, 20px);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 999px;
        padding: .625rem 1.5rem .5rem;
        font-weight: 600;
        border: 2px solid var(--dark);

        &.large {
            padding: .625rem 2.5rem .5rem;

        }

        &:hover {
            transform: translate(-3px, -9px);
            box-shadow: 3px 9px 0 #0b0b0b, 15px 15px 20px rgba(64, 164, 122, 0.2);
        }
    }


}