mixin statItem(targetNum, label, className, hasPlus = false)
  .stat
    //- نضع targetNum داخل data-num، ونبدأ المحتوى بـ 0
    div(class=`${className}-odometer odometer ${hasPlus ? 'plus' : ''}` data-num=targetNum) 0
    .type= label
include ./ui/_Button.pug
include ./ui/_Image.pug
section.counter.pos-rel
    .container
        .stats-container.d-grid(class='grid-col-1 sm:grid-col-2 lg:grid-col-3 gap-14 px-8')
            +statItem('167672', 'عدد الاعبين', 'subscribers')
            +statItem('900', 'عدد الاالعاب', 'videos')
            +statItem('5857', 'عدد الاعبين الجدد', 'projects')
