section.faq.faqShape.pos-rel
    .container 
        .d-flex.items-center.justify-center.flex-col.gap-2 
            h2.tag.mainHeading.text-center.reverse الأسئلة الشائعة
        .faq-list 
            .faq-item.active 
                h3.faq-question  كيف يمكنني إنشاء لعبة في Neerdy ؟
                p.faq-answer
                    | أنشئ حساب جديد في اللعبة وبعدها اضغط على إنشاء لعبة ، قسّم المتواجدين إلى فريقين متساويين ، لكل فريق يختار ٣ فئات ، اختار اسم لكل فريق وبعدها 
            
            .faq-item 
                h3.faq-question هل يمكن تجربة اللعبة قبل الشراء ؟
                p.faq-answer
                    | لكل حساب جديد لعبة مجانية يستطيع من خلالها تجربة اللعبة .
            .faq-item 
                h3.faq-question هل تتكرر الأسئلة في حال اختيار فئات تم اختيارها مسبقاً ؟
                p.faq-answer
                    | لا ، جميع الأسئلة في جميع الفئات مختلفة و غير قابلة للتكرار ، ماعدا اللعبة المجانية لجميع الحسابات الجديدة ثابتة .

            .faq-item 
                h3.faq-question في حال إيقاف اللعبة ، والرغبة في تكملتها في وقت لاحق هل يمكن الرجوع لها ؟
                p.faq-answer
                    | أي لعبة يتم البدأ فيها يتم حفظها بشكل مباشر في قسم " ألعابي " ، ويمكنكم الرجوع له في أعلى الصفحة .

            .faq-item 
                h3.faq-question في حال إجابة نصف السؤال ، هل يمكن أخذ نص النقاط ؟
                p.faq-answer
                    | لا ، الإجابة يجب أن تكون كاملة لأخذ نقاط السؤال .

