include ./ui/_Image.pug
include ./ui/_Icon.pug
include ./ui/_Button.pug
footer.bg-main.pos-rel.d-grid(class="gap-8 md:gap-14 ")
    .container.h-full
        .d-grid(class='sm:grid-col-2 grid-col-1 gap-8 items-end ')
            .footerAbout 
                figure.w-100
                    +Image({ 
                        name: 'Logo_1', 
                        width: '100%',
                        height: '100%',
                        alt: ' logo', 
                        })
                p.fs-20.fw-400.text-white 
                  |  لعبة تحدي الأسئلة الأولى بالوطن العربي
            menu.socialLink(class="d-flex items-center sm:justify-end justify-start gap-6 md:gap-12 flex-wrap")
                li 
                    +button({ 
                        link: '/', 
                        icon:'facebook',
                        aria:'open facebook'
                    }).secondary.iconBtn(rel='noopener noreferrer' , target="_blank")
                li 
                    +button({ 
                        link: '/', 
                        icon:'instagram',
                        aria:'open instagram'
                    }).secondary.iconBtn(rel='noopener noreferrer' , target="_blank")
                li 
                    +button({ 
                        link: '/', 
                        icon:'tiktok',
                        aria:'open instagram'
                    }).secondary.iconBtn(rel='noopener noreferrer' , target="_blank")
                li 
                    +button({ 
                        link: '/', 
                        icon:'twitter',
                        aria:'open instagram'
                    }).secondary.iconBtn(rel='noopener noreferrer' , target="_blank")
                li 
                    +button({ 
                        link: '/', 
                        icon:'youtube',
                        aria:'open instagram'
                    }).secondary.iconBtn(rel='noopener noreferrer' , target="_blank")
    div.py-6.d-flex.items-center.justify-center.copyrightDiv
        p.copyRight.fs-20.text-white
            | © 2026 نيردي جميع الحقوق محفوظة.
    ul.mobileFooter.d-grid(class='lg:d-none')
        li
            
            a(href="index.html").d-flex.flex-col.items-center   
                +Icon('menu' , className='mx-auto text-dark ' ," افتح القائمة  ")
                |الرئيسية
        li
            
            a(href="myGame.html").d-flex.flex-col.items-center   
                +Icon('game' , className='mx-auto text-dark ' ," افتح القائمة  ")
                | العابي
        li
            
            a(href="Profile.html").d-flex.flex-col.items-center   
                +Icon('setting' , className='mx-auto text-dark ' ," افتح القائمة  ")
                | حسابي

