include ./ui/_Image.pug
include ./ui/_Button.pug

div(class='d-grid   gameSelect gap-6  ' )
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fw-400.p-1.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'delete game selected '
                }
                ).btn_icon.info(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fw-400.p-1.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'delete game selected '
                }
                ).btn_icon.info(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fw-400.p-1.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'delete game selected '
                }
                ).btn_icon.info(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fw-400.p-1.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'delete game selected '
                }
                ).btn_icon.info(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fw-400.p-1.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'delete game selected '
                }
                ).btn_icon.info(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fw-400.p-1.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'delete game selected '
                }
                ).btn_icon.info(role="button")
            
