include ./ui/_Image.pug
include ./ui/_Button.pug

div(class='d-grid gridLayoutGame mt-12')
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '2', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '3', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '4', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '5', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '6', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '7', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '1', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '2', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '3', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '4', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '5', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '6', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")
    .cardGame.round-lg 
        figure.pos-rel
            +Image({ 
                name: '7', 
                alt: 'cate_image', 
                
            }).round-s
            figcaption.fs-18.fw-400.p-4.text-center.bg-main.text-white.round-e اسلاميات 
            
            +button({
                    type:'button',
                    icon:'info',
                    aria:'focus to show information from this game'
                }
                ).btn_icon.info.tooltip(role="button")
            div.tooltipContent
                span
                    | يحتوي على أسئلة دينية وتاريخ إسلامي والسيرة النبوية
                +button({
                    text:'أضف إلى المفضلة',
                    type:'button',
                    icon:'heart',
                    aria:'add game to Favorites'
                }
                ).btn_icon.verySmall(role="button")