include ./ui/_Button.pug
include ./ui/_Icon.pug

.gameFilter(class='d-flex items-center justify-between gap-8 flex-wrap w-full my-10') 
    block searchGroup
        .searchGroup.h-30.pos-rel 
            label(for="searchGame" ,class='d-flex items-center justify-center pos-abs l-0 center-pos_Y') 
                +button({
                    
                    type:'submit',
                    icon:'search',
                    aria:'search button'
                }
                ).btn_icon(role='button')
            input(type="text" ,placeholder='البحث باسم الفئة' ,id='searchGame' , name='searchGameName')
    block button
        menu.filterMenu(class='d-flex items-center  gap-2 flex-wrap ')  
            li
                +button({                   
                        
                        type:'button',
                        icon:'grid',
                        aria:'grid layout'
                    }
                    ).btn_icon.small.FilterButton(role='button' aria-expanded="false" aria-control='gridLayout')
            li
                +button({
                        
                        type:'button',
                        icon:'dropLayout',
                        aria:'Accordion layout'
                    }
                    ).btn_icon.small.active.FilterButton(role='button' aria-expanded="true" aria-control='AccordionLayout')
    block search_2