

section.gameStarted.py-10
    .container-full 
        div(class='d-grid grid-col-2 md:grid-col-3 gap-8 h-full system items-stretch')
            .cardGameStarted(class='d-grid grid-col-4 ')
                .cardGame
                    figure.pos-rel
                        +Image({ name: '2', alt: 'إسلاميات' })
                        figcaption.fs-14.fw-400.p-2.text-center.bg-main.text-white إسلاميات
                .teamButton.firstTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.secondTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink.disable
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.threeTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
            .cardGameStarted(class='d-grid grid-col-4 ')
                .cardGame
                    figure.pos-rel
                        +Image({ name: '2', alt: 'إسلاميات' })
                        figcaption.fs-14.fw-400.p-2.text-center.bg-main.text-white إسلاميات
                .teamButton.firstTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.secondTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink.disable
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.threeTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink.disable
            .cardGameStarted(class='d-grid grid-col-4 ')
                .cardGame
                    figure.pos-rel
                        +Image({ name: '2', alt: 'إسلاميات' })
                        figcaption.fs-14.fw-400.p-2.text-center.bg-main.text-white إسلاميات
                .teamButton.firstTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.secondTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.threeTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink.disable
            .cardGameStarted(class='d-grid grid-col-4 ')
                .cardGame
                    figure.pos-rel
                        +Image({ name: '2', alt: 'إسلاميات' })
                        figcaption.fs-14.fw-400.p-2.text-center.bg-main.text-white إسلاميات
                .teamButton.firstTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.secondTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.threeTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
            .cardGameStarted(class='d-grid grid-col-4 ')
                .cardGame
                    figure.pos-rel
                        +Image({ name: '2', alt: 'إسلاميات' })
                        figcaption.fs-14.fw-400.p-2.text-center.bg-main.text-white إسلاميات
                .teamButton.firstTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink.disable
                .teamButton.secondTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.threeTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
            .cardGameStarted(class='d-grid grid-col-4 ')
                .cardGame
                    figure.pos-rel
                        +Image({ name: '2', alt: 'إسلاميات' })
                        figcaption.fs-14.fw-400.p-2.text-center.bg-main.text-white إسلاميات
                .teamButton.firstTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.secondTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
                .teamButton.threeTeam(class='d-flex flex-col gap-2 items-center')
                         +button({ 
                            text: '200', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '400', 
                            link: 'gamePanel.html', 
                        }).askLink
                         +button({ 
                            text: '600', 
                            link: 'gamePanel.html', 
                        }).askLink
