

section.gameStarted.py-10
    .container-full 
        div(class='d-grid grid-col-2 md:grid-col-5')
            .cardGameStarted
                .cardGame
                    figure.pos-rel
                        +Image({ name: '2', alt: 'إسلاميات' })
                        figcaption.fs-14.fw-400.p-2.text-center.bg-main.text-white إسلاميات
                .askButton(class='d-grid grid-col-3 gap-1')
                    .firstTeam(class='d-grid gap-1 items-center')
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                    .firstTeam(class='d-grid gap-2 items-center')
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                    .firstTeam(class='d-grid gap-2 items-center')
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                         +button({ 
                            text: 'العب', 
                            link: 'startGame.html', 
                        }).askLink
                    