include ./ui/_Icon.pug
section.help.pos-rel
    .container
        .text-center.w-900.mx-auto 
            h2.fs-res-60.fw-400.text-dark.mb-10  وسائل المساعدة

        div(class="d-grid grid-col-1 sm:grid-col-2 lg:grid-col-4 gap-4")
            .cardHelp.d-flex.items-center.justify-between.flex-col.gap-14.p-12.bg-input.round-lg  
                .contentHelp.text-center 
                    h3.cardTitle اتصال بصديق
                    figure.w-full.h-70.mx-auto.my-10 
                        +Icon("help_1" , 'iconHelp')
                    p.cardP.o-70 صديقك اللي يعرف كل شي هذا وقته دق عليه !
                p.HowUseHelp.bg-dark.fs-18.fw-600.d-flex.items-center.justify-center.px-12.py-6.text-center.round-full.text-white  تستخدمها بعد ما تشوف السؤال
            .cardHelp.d-flex.items-center.justify-between.flex-col.gap-14.p-12.bg-input.round-lg  
                .contentHelp.text-center 
                    h3.cardTitle الحفرة
                    figure.w-full.h-70.mx-auto.my-10 
                        +Icon("help_2" , 'iconHelp')
                    p.cardP.o-70 احفر لهم! جاوب صح, واخصم عدد النقاط اللي فزت فيها من نقاط الفريق الثاني
                p.HowUseHelp.bg-main.fs-18.fw-600.d-flex.items-center.justify-center.px-12.py-6.text-center.round-full.text-white تستخدمها قبل ما تشوف السؤال
            .cardHelp.d-flex.items-center.justify-between.flex-col.gap-14.p-12.bg-input.round-lg  
                .contentHelp.text-center 
                    h3.cardTitle جاوب جوابين
                    figure.w-full.h-70.mx-auto.my-10 
                        +Icon("help_3" , 'iconHelp')
                    p.cardP.o-70 متردد بجوابين؟ هذه لك. جاوب بالآثنين عشان تضمن النقاط
                p.HowUseHelp.bg-dark.fs-18.fw-600.d-flex.items-center.justify-center.px-12.py-6.text-center.round-full.text-white تستخدمها بعد ما تشوف السؤال
            .cardHelp.d-flex.items-center.justify-between.flex-col.gap-14.p-12.bg-input.round-lg  
                .contentHelp.text-center 
                    h3.cardTitle  استريح
                    figure.w-full.h-70.mx-auto.my-10 
                        +Icon("help_4" , 'iconHelp')
                    p.cardP.o-70 اختار اكثر شخص مثقف ضدك, وخله يستريح شوي عن المشاركة في إجابة هالسؤال
                p.HowUseHelp.bg-dark.fs-18.fw-600.d-flex.items-center.justify-center.px-12.py-6.text-center.round-full.text-white تستخدمها بعد ما تشوف السؤال

