extends ./component/layout.pug
//- extends ./component/Header.pug
block ChangeClass
  - var BodyClass = "panel-page"
block title
  | نيردي | بداية اللعب

block Header
  include ./component/gameHeade.pug
block content
  include ./component/panelSide.pug
  include ./component/answerGame.pug
block overLay
block Footer
//-   include ./component/gameFooter.pug

