extends ./component/layout.pug
include ./component/ui/_Input.pug
include ./component/ui/_Button.pug
//- extends ./component/Header.pug

block title
  | نيردي |   حسابي 

block content
    section.profile
        .container 
            .left-section
                .header
                    h1 تغير كلمة المرور
                    .toggle-container
                        +button({ text: 'حساب تعريفي', link: 'Profile.html', style: 'toggle-btn ' })
                        +button({ text: 'تغيير كلمة المرور', link: 'ChangePassword.html', style: 'toggle-btn active' })

                form.d-flex.items-center.flex-col.gap-12

                    +Input({
                        type: 'password',
                        id: 'userPassword',
                        name: 'EnterPassword',
                        label: 'كلمة المرور القديمة',
                        placeholder: 'ادخل كلمة المرور',
                        required: true,
                    })
                    +Input({
                        type: 'password',
                        id: 'ConfirmationUserPassword',
                        name: 'ConfirmationEnterPassword',
                        label: ' كلمة المرور الجديدة',
                        placeholder: 'ادخل كلمة المرور',
                        required: true,
                    })
                    +Input({
                        type: 'password',
                        id: 'ConfirmationUserPassword',
                        name: 'ConfirmationEnterPassword',
                        label: 'تاكيد كلمة المرور',
                        placeholder: 'ادخل كلمة المرور',
                        required: true,
                    })
                    
                    div.d-flex.items-center.justify-center.h-30.gap-8
                        +button({
                            text:'حفظ المتغيرات',
                            type:'submit'
                            }
                        ).primary.changeColor.h-full(class='w-full')
                        