extends ./component/layout.pug
include ./component/ui/_Input.pug
include ./component/ui/_Button.pug
//- extends ./component/Header.pug

block title
  | نيردي | نسيت كلمة المرور

block content
    section.auth.mx-auto

        .container 
            .form
                .text-center.mx-auto.mb-8 
                    h2.fs-res-36 نسيت كلمة المرور
                form(action="") 
                    +Input({
                        type: 'email',
                        id: 'userEmail',
                        name: 'email',
                        label: 'البريد الإلكتروني',
                        placeholder: 'مثال: example@mail.com',
                        required: true,
                    })

                    
                    div.d-flex.items-center.justify-center.flex-col.my-12
                        +button({
                            text:'نسيت كلمة المرور',
                            type:'submit'
                            }
                        ).primary.changeColor.w-full
