extends ./component/layout.pug
//- extends ./component/Header.pug

block title
  | نيردي | الصفحة الرئيسية

block content
  include ./component/Hero.pug
  include ./component/AboutUs.pug
  //- include ./component/How.pug
  //- include ./component/Cate.pug
  include ./component/Help.pug
  include ./component/Faq.pug






 
