extends ./component/layout.pug 



block title
  | نيردي |   العابي

block content
    include ./component/gameBanner_2.pug 
    include ./component/myGameSection.pug 
    include ./component/playMore.pug 
    //- include ./component/startGameSection.pug 


