extends ./component/layout.pug
//- extends ./component/Header.pug
//- block ChangeClass
//-   - var BodyClass = "dark-theme"
block title
  | نيردي | بداية اللعب

block Header
  include ./component/gameHeade.pug
block content
  include ./component/gameStarted.pug
block overLay
block Footer

