@use "../helpers/mixins" as *;
.auth{
    padding-block: 80px;
    .form{
        width: 100%;
        @include res('max-width', 300px, 600px);
        margin: 0 auto;
        // height: 400px;
        background-color: var(--white);
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,.05);
        h2{
            color: var(--mainColor);
        }
        form{
            .formGroup{
                margin-block-end: 24px;
                &.checkboxGroup{
                    margin-block-end: 16px;
                }
            }
        }
    }
}
