
@use "../helpers/mixins" as *;
.cate_game {
    .layout-view {
        height: 100%;

        .cardGame {
            transition: var(--t-s);
            cursor: pointer;


            &:hover,
            &.active {
                outline: 3px solid var(--secondColor);
            }

            // filter: brightness(1) contrast(1) grayscale(1);
        }
    }

    .gameNameStart {
        form {

            // width: min(800px,100%);
            .center {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: min(500px, 100%);
                margin-inline: auto;
                width: min(600px, 100%);

                &.fullWidth {
                    width: min(600px, 100%);
                }
            }

            .cardHelp {
                border: 2px solid var(--mainColor);
                cursor: pointer;

                &.notActive {
                    opacity: .8;
                    border-color: transparent;
                    pointer-events: none;
                    cursor: not-allowed;

                }
            }

            button {
                width: min(300px, 100%);
                aspect-ratio: 16/5;

            }
        }
    }

    .gameSelect {

        width: min(436px, 100%);
        margin-inline: auto;
        position: sticky;
        bottom: 20px;
        z-index: 100;
        padding: .5rem;
        background-color: var(--mainColor20);
        backdrop-filter: blur(10px);
        border-radius: 16px;
        // overflow-x:auto;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

        .cardGame {
            height: 60px;
            aspect-ratio: 1/1;

            // height: 70px;
            figure {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: 70%;
                    object-fit: cover;
                }

                figcaption {
                    font-size: 10px;
                }

                .info {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    height: 20px;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

.myGame {
    .cardMyGame {
        background: linear-gradient(180deg, #0056a3 0%, #001f3f 100%);
        .tags{
            display: inline-block;
            margin-top: -25px;
        }
        button.gameButton{
            box-shadow: none;
            border-radius: 16px;
            width: 80%;
            @include res('font-size' , 16px, 24px);
            font-weight: 700;
            border: none;
            background-color: var(--white);
            color: var(--mainColor);
            &:hover{
                background-color: var(--secondColor);
                color: var(--dark);
            }
        }
        .cardGame{
            figcaption{
                &.roundBottomStart{
                    border-bottom-right-radius: 1rem;
                }
                &.roundBottomEnd{
                    border-bottom-left-radius: 1rem;
                }
            }
        }
    }
}
.gameStarted{
    .cardGameStarted{
        .askLink{
            @include res('font-size' ,14px ,24px);
            @include res('padding-inline' ,4px ,12px);
            @include res('padding-block' ,2px ,8px);
            font-weight: 700;
            background-color: var(--grayLight);
            color: var(--white);
            text-align: center;
        }
        .cardGame{
            figure{
                height: 30%;
            }
        }
    }
}