@use "../helpers/mixins" as *;

.cate_game {
    .layout-view {
        height: 100%;

        .cardGame {
            transition: var(--t-s);
            cursor: pointer;


            &:hover,
            &.active {
                outline: 3px solid var(--secondColor);
            }

            // filter: brightness(1) contrast(1) grayscale(1);
        }
    }

    .gameNameStart {
        form {

            // width: min(800px,100%);
            .center {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: min(500px, 100%);
                margin-inline: auto;
                width: min(600px, 100%);

                &.fullWidth {
                    width: min(600px, 100%);
                }
            }

            .cardHelp {
                border: 2px solid var(--mainColor);
                cursor: pointer;

                &.notActive {
                    opacity: .8;
                    border-color: transparent;
                    pointer-events: none;
                    cursor: not-allowed;

                }
            }

            button {
                width: min(300px, 100%);
                aspect-ratio: 16/5;

            }
        }
    }

    .gameSelect {

        width: min(436px, 100%);
        margin-inline: auto;
        position: sticky;
        bottom: 20px;
        z-index: 100;
        padding: .5rem;
        background-color: var(--mainColor20);
        backdrop-filter: blur(10px);
        border-radius: 16px;
        // overflow-x:auto;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

        .cardGame {
            height: 60px;
            aspect-ratio: 1/1;

            // height: 70px;
            figure {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: 70%;
                    object-fit: cover;
                }

                figcaption {
                    font-size: 10px;
                }

                .info {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    height: 20px;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

.myGame {
    .cardMyGame {
        background: linear-gradient(180deg, #0056a3 0%, #001f3f 100%);

        .tags {
            display: inline-block;
            margin-top: -25px;
        }

        button.gameButton {
            box-shadow: none;
            border-radius: 16px;
            width: 80%;
            @include res('font-size', 16px, 24px);
            font-weight: 700;
            border: none;
            background-color: var(--white);
            color: var(--mainColor);

            &:hover {
                background-color: var(--secondColor);
                color: var(--dark);
            }
        }

        .cardGame {
            figcaption {
                &.roundBottomStart {
                    border-bottom-right-radius: 1rem;
                }

                &.roundBottomEnd {
                    border-bottom-left-radius: 1rem;
                }
            }
        }
    }
}

.gameStarted {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .system {
        grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
        height: 100%;
        align-items: stretch;
    }

    .cardGameStarted {
        height: 100%;
        align-items: stretch;

        @media(width >=768px) {
            grid-template-columns: 2fr 1fr 1fr 1fr;
        }

        .teamButton {
            height: 100%;
            justify-content: space-between;

            .askLink {
                width: 100%;
                @include res('font-size', 16px, 30px);
                // @include res('padding-inline', 4px, 12px);
                // @include res('padding-block', 2px, 8px);
                font-weight: 700;
                background-color: #d2d3d4;
                color: var(--white);
                text-align: center;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
                border-left: 3px solid var(--BodyBg);
                color: var(--mainColor);

                &.disable {
                    background-color: var(--inputBG);
                    color: var(--inputHint);
                    cursor: not-allowed !important;
                }
            }

            &.threeTeam {
                .askLink {
                    // border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
            }
        }



        .cardGame {
            height: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            figure {
                height: 100%;
                display: flex;
                flex-direction: column;

                img {
                    flex-grow: 1;
                    object-fit: cover;
                    width: 100%;
                    border-top-right-radius: 20px;
                }

                figcaption {
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }
}


.panelGame {


    .ask {
        border: 5px solid var(--mainColor);
        border-radius: 30px;
        @include res('padding-block', 35px, 60px);
        padding-inline: 1.5rem;

        // anchor-name: --ask;
        .timer,
        .points {
            background-color: var(--dark);
            color: var(--white);
            position: absolute;
            top: -24px;

        }

        .timer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            @include res('padding-inline', 10px, 14px);
            @include res('padding-block', 4px, 8px);

            width: min(300px, 80%);
            border-radius: 999px;
            left: 50%;
            transform: translateX(-50%);

            span {
                display: inline-block;
                @include res('font-size', 14px, 24px);

                font-weight: 700;
            }
        }

        .points {
            @include res('font-size', 14px, 18px);
            @include res('padding-inline', 10px, 14px);
            @include res('padding-block', 4px, 8px);
            border-radius: 12px;
            width: fit-content;
            inset-inline-start: 20px;

            &.askType {
                bottom: -20px;
                top: auto;
                background-color: var(--mainColor);
            }
        }

        .greenButton {
            border: none;
            position: absolute;
            bottom: -24px;
            left: 20px;
            box-shadow: none;

            &.blue {
                background-color: var(--mainColor);
            }

            &:hover {
                transform: none;
                box-shadow: none;
            }

            &.back {
                bottom: -20px;
                right: 20px;
                left: auto;
                // background-color: se;
                background-color: var(--secondColor);
                color: var(--dark);
            }
        }

        figure {
            img {
                object-fit: contain;
                height: 100%;
                // width: unset;
            }

            @media(min-width:768px) {
                height: 400px;
            }
        }
    }

    .window {
        flex-grow: 1;
    }

    .selectTeam {
        .team {
            width: min(600px, 100%);
            flex-grow: 1;

            .primary {
                width: 100%;
                text-align: center;
                @include res('font-size', 24px, 36px);
            }

        }

        .primary,
        .secondary {
            text-align: center;
            @include res('font-size', 24px, 36px);
        }

        .secondary {
            width: min(600px, 100%);
        }
    }

    @media(max-width:767px) {
        grid-row-start: 1;
    }
}

.endGame {
    flex-grow: 1;

    .fire {
        width: min(700px, 100%);
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .winTeam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        .teams {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px;
            $color-green: #97b443;
            $color-red: #c6302c;

            .card {
                width: 200px;
                border-radius: 20px;
                overflow: hidden;
                font-family: sans-serif;
                text-align: center;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

                .card__header {
                    background-color: var(--dark);
                    color: var(--white);
                    padding: 10px;
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                .card__body{
                    padding: 25px 10px;
                    color: var(--white);

                    h2 {
                        margin: 0;
                        font-size: 2.5rem;
                        letter-spacing: 1px;
                    }
                }

                // الحالات الخاصة بالألوان
                &.success {
                    .card__body {
                        background-color: $color-green;
                    }
                }

                &.danger {
                    .card__body {
                        background-color: $color-red;
                    }
                }
            }
        }
    }
}