@use "../helpers/animation" as *;
// @use "../helpers/extends" as *;
// @use "../helpers/mixins" as *;
header {
    width: 100%;
    &.scroll{
        background-color: var(--white);
        position: fixed;
        animation: navSticky 0.5s ease-in-out forwards;
        transition: var(--t-s);
        box-shadow: 0 8px 1.25rem rgba($color: #000000, $alpha: .3);
        
    }
  .MobileMenu {
    li {
      a {
        &:hover,
        &.active {
          color: var(--mainColor);
        }
      }
    }
    @media (max-width: 991px) {
      background-color: var(--BodyBg);
      width: min(240px, 100%);
      height: 100dvh;
      position: fixed;
      top: 0;
      inset-inline-start: 0;
      padding-top: 40px;
      z-index: 9999;
      transform: translateX(100%);
      opacity: 0;
      transition: var(--t-s);
      li {
        padding-inline-start: 40px;
        padding-block-end: 24px;
        a {
          color: var(--dark);
          &:hover,
          &.active {
            color: var(--mainColor);
          }
        }
        #closeMenu {
          position: absolute;
          top: 20px;
          inset-inline-end: 20px;
        }
      }
      &.open {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
@include nav-sticky(navSticky);