@use "../helpers/animation" as *;
// @use "../helpers/extends" as *;
@use "../helpers/mixins" as *;

header:not(.gameHeader) {
  width: 100%;
  // background-color: var(--white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .03);

  &.scroll {
    background-color: var(--white);
    position: fixed;
    animation: navSticky 0.5s ease-in-out forwards;
    transition: var(--t-s);
    box-shadow: 0 8px 1.25rem rgba($color: #000000, $alpha: .3);

  }

  .MobileMenu {
    li {
      a {

        &:hover,
        &.active {
          color: var(--mainColor);
        }
      }
    }

    @media (max-width: 767px) {
      background-color: var(--BodyBg);
      width: min(240px, 100%);
      height: 100dvh;
      position: fixed;
      top: 0;
      inset-inline-start: 0;
      padding-top: 40px;
      z-index: 9999;
      transform: translateX(100%);
      opacity: 0;
      transition: var(--t-s);

      li {
        padding-inline-start: 40px;
        padding-block-end: 24px;

        a {
          color: var(--dark);

          &:hover,
          &.active {
            color: var(--mainColor);
          }
        }

        #closeMenu {
          position: absolute;
          top: 20px;
          inset-inline-end: 20px;
        }
      }

      &.open {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .logo {
    @include res('width', 130px, 200px)
  }
}

@include nav-sticky(navSticky);

.gameHeader {
  .logo {
    @include res('width', 100px, 140px)
  }

  .tags{
    @include res('font-size', 12px, 18px);
  }
  .nameGame{
    @include res('font-size', 16px, 24px);
  }
   button:is(.secondary ,.greenButton){
       width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include res('padding-inline', 14px, 20px);
    @include res('padding-block', 6px, 10px);
    @include res('font-size', 14px, 18px);
    text-wrap-style: pretty;
    gap: 8px;
    
   }
     button:is(.secondary ){
    border:1px solid rgb(204, 0, 0);
    color: rgb(204, 0, 0);
    background-color: transparent;
    svg{
      color: rgb(204, 0, 0);
    }
    &:hover{
      box-shadow: none;
      transform: none;
      background-color: rgb(204, 0, 0);
      color: var(--white);
      svg{
        color: var(--white);
      }
    }
  }
     button:is(.greenButton ){
    background-color:  #1b804e;
    border: 1px solid  transparent;
    color: var(--white);
    svg{
      color: var(--white);
    }
    &:hover{
      box-shadow: none;
      transform: none;
      border-color: #1b804e;
      background-color: transparent;
      color: #1b804e;
      svg{
        color: #1b804e;
      }
    }
  }
  button{
    @media(max-width:634px){
      svg{
        display: none !important;
      }
    }
  }
  menu{
        margin-block-start: 0;
        margin-block-end: 0;
    }
}