@use "../helpers/extends" as *;

.hero {
    height: 700px;

    // background: radial-gradient(circle, #0056a3 0%, #003366 100%);
    &.startGame{
         height: 500px;
    }
    background: radial-gradient(circle, #0056a3 0%, #001f3f 100%);
    clip-path: ellipse(100% 100% at 50% 0%);
    @media(max-width:540px){
        border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    clip-path: none;
    }
    .heroLogo{
        transform: scale(1.3);
        @media(max-width:767px){
            transform: scale(1);
        }
    };
    


}