// @use "./helpers/bootstrap-custom";
@use "../plugins/AE.css";
// helpers
@use "./helpers/colors" as *;
@use "./helpers/fonts" as *;
@use "./helpers/mixins" as *;
@use "./helpers/animation" as *;
// ui
@use "./Component/ui/button";
@use "./Component/header";
@use "./Component/footer";
// Component
@use "./Component/hero";
@use "./Component/faq";
@use "./Component/auth";
@use "./Component/game";
@use "./Component/profile";


// customClass
@use "./helpers/Class";

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo";
  background-color: var(--BodyBg);

}

section:not(.hero, .gameStarted) {
  padding-block: 50px;
  // min-height: 80dvh;
}

menu {
  list-style: none;
  padding-inline-start: 0;
}

figure {
  margin-block: 0;
  margin-inline: 0;
}

a {
  color: var(--Dark);
  text-transform: capitalize;
  font-size: 16px;
  transition: var(--ts);
}

.overLay {
  cursor:
    url("https://demo-morata.myshopify.com/cdn/shop/t/3/assets/cursor-close.png?v=93210088594709752341700037392"),
    pointer;

  &.active {
    @include overlay(100%, 100%, rgba($color: #000000, $alpha: 0.3), inset, 0);

    &::before {
      position: fixed;
      backdrop-filter: blur(2px);
      height: 100%;
      z-index: 999;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  stroke: currentColor; // في حال كانت الأيقونة تعتمد على الـ stroke
  vertical-align: middle;

  &.iconHelp {
    width: 100%;
    height: 100%;
  }

  // margin-right: 8px;
}

// library init
.swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    // text-align: center;
    font-size: 18px;
    // background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;

    .card {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      filter: brightness(1) contrast(1) grayscale(1);
      transform: scale(.9);

    }

    &.swiper-slide-active {
      .card {
        transform: scale(1.1);
        filter: brightness(1) contrast(1) grayscale(0);

        @media(max-width:639px) {
          transform: scale(1);
        }

      }
    }

    @media(max-width:639px) {
      padding-block: 15px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: var(--mainColor);
    border-radius: 999px;
    width: 50px;
    height: 50px;

    svg {
      width: 16px;
      color: var(--white)
    }

  }
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* preload */

// no scroll
.no-scroll {
  overflow: hidden;
  height: 100vh;
  /* يمنع أي تمرير */
}

/*  */
svg[aria-hidden="true"] {
  display: inline-block !important;
}

// 
.sectionAccordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .accordionItem {
    background: var(--inputBG);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    .accordionHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-bottom: 10px;

      .sectionTitle {
        background-color: var(--mainColor);
        color: var(--white);
        padding: 8px 40px;
        border-radius: 25px;
        font-size: 18px;
        margin-top: -40px;
      }


    }

    .accordionBody {
      overflow: hidden;
      height: 0;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

      &>div {
        opacity: 0;
      }

    }

    // كلاس الحالة المفتوحة (عشان Pug يبدأ بيه)
    &.is-open {
      .accordionBody {
        height: auto; // سيتم استبداله برقم بواسطة الـ JS أثناء الحركة

        &>div {
          opacity: 1;
        }
      }
    }
  }
}

.bootstrap-wrapper {
  @import "./helpers/bootstrap-custom";

  &:has(.modal.show),
  &:has(.modal.collapsing) {
    display: block !important;
  }

  .modal {
    cursor:
      url("https://demo-morata.myshopify.com/cdn/shop/t/3/assets/cursor-close.png?v=93210088594709752341700037392"),
      pointer;

    .modal-content {
      cursor: default;
    }
  }

  .modal.show {
    opacity: 1 !important;
  }

  .modal-dialog {
    max-width: min(800px, 100%) !important;

  }

  .modal-footer {
    position: absolute;
    top: 8px;
    inset-inline-start: 10px;

    button.btn_icon.info {
      background-color: white;
      width: 40px;
      height: 40px;

      svg {
        color: var(--dark);
        width: 24px;
        height: 24px;
      }

      &:hover {
        background-color: var(--dark);

        svg {
          color: var(--white);
        }
      }
    }
  }

}

body:is(.panel-page, .score-page) {
  height: 100svh;
  overflow: hidden;


  main {
    flex-grow: 1;
    padding-inline: 15px;
  }
}

.score-page {
  display: flex;
  flex-direction: column;


  main {
    display: flex;
    flex-direction: column;
    

    .container-full {
      display: contents;
    }
  }
}
.panel-page{
  main{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    align-items: start;
    @media(max-width:768px){
      grid-template-columns: 1fr ;
      // grid-template-rows: 1fr 120px;
    }
  }
}