@use "../plugins/AE.css";

// helpers
@use "./helpers/colors" as *;
@use "./helpers/fonts" as *;
@use "./helpers/mixins" as *;
@use "./helpers/animation" as *;
// Component
@use "./Component/hero";
@use "./Component/faq";

// ui
@use "./Component/ui/button";
@use "./Component/header";
// customClass
@use "./helpers/Class";

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo";
  background-color: var(--BodyBg);
}

section:not(.hero) {
  padding-block: 50px;
  // min-height: 80dvh;
}

menu {
  list-style: none;
  padding-inline-start: 0;
}

figure {
  margin-block: 0;
  margin-inline: 0;
}

a {
  color: var(--Dark);
  text-transform: capitalize;
  font-size: 16px;
  transition: var(--ts);
}

.overLay {
  cursor:
    url("https://demo-morata.myshopify.com/cdn/shop/t/3/assets/cursor-close.png?v=93210088594709752341700037392"),
    pointer;

  &.active {
    @include overlay(100%, 100%, rgba($color: #000000, $alpha: 0.3), inset, 0);

    &::before {
      position: fixed;
      backdrop-filter: blur(2px);
      height: 100%;
      z-index: 999;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  vertical-align: middle;
  &.iconHelp{
    width: 100%;
    height: 100%;
}
  // margin-right: 8px;
}

// library init
.swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    // text-align: center;
    font-size: 18px;
    // background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;

    .card {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transform: scale(.9);
      filter: brightness(1) contrast(1) grayscale(1);

    }

    &.swiper-slide-active {
      .card {
        transform: scale(1.1);
        filter: brightness(1) contrast(1) grayscale(0);

      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: var(--mainColor);
    border-radius: 999px;
    width: 50px;
    height: 50px;

    svg {
      width: 20px;
      color: var(--white)
    }

  }
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* preload */

// no scroll
.no-scroll {
  overflow: hidden;
  height: 100vh;
  /* يمنع أي تمرير */
}

/*  */